driftfile /var/lib/ntpsec/ntp.drift
leapfile /usr/share/zoneinfo/leap-seconds.list

# This should be maxclock 7, but the pool entries count towards maxclock.
tos maxclock 11

# Comment this out if you have a refclock and want it to be able to discipline
# the clock by itself (e.g. if the system is not connected to the network).
tos minclock 4 minsane 3

pool "{{ server_1 }}" iburst
pool "{{ server_2 }}" iburst
pool "{{ server_3 }}" iburst

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1

